<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/csspagrec2.css') }}">
</head>
<body>
    <main class="password-recovery-container">
        <h3 class="header-title">Redefina sua senha</h3>
        <section class="password-recovery-content">
          <form action="/send-code" method="post">
            <label for="emailInput" class="email-label">
              Sua senha precisa conter pelo menos 6 caracteres.
            </label>
            <div class="email-input-wrapper">
              <input
                type="password"
                id="novasenha"
                name="senha"
                class="email-input"
                placeholder="Digite sua nova senha"
                required
              />
            </div>
            <button type="submit" class="submit-button">Pronto</button>
          </form>
        </section>
      </main>
</body>
</html>
