
#campos {
    font-size: 15px;
}


#campoemail {
    margin-top: 5%;
}

#campo3 {
    margin-right: 40%;
}

#inputemail,
#inputnome {
    border-radius: 100px;
    outline: none;
    border: 1px;
    width: 250px;
    height: 1.5rem;
    margin-top: 2%;
    padding-left: 2%;
}

/* RESPONSIVIDADE TABLET */
@media screen and (max-width: 900px) and (min-width: 600px) {
    header img {
        width: 15%;
        height: 15%;
    }

    #conteudo {
        margin-top: 5%;
        width: 50%;
    }

    #rodape {
        width: 55%;
        margin-top: 5%;
    }

    label {
        margin-right: 15%;
    }

    button {
        width: 30%;
    }

    .decoracao {
        margin-top: 10%;
    }

    .icones {
        margin-top: 13%;
    }
}

/* RESPONSIVIDADE: CELULAR */
@media screen and (max-width:600px) {
    header img {
        width: 22%;
        height: 22%;
    }

    #conteudo {
        width: 75%;
        height: 500px;
        margin-top: 7%;
    }

    #rodape {
        width: 80%;
        margin-top: 5%;
        height: 70px;
        font-size: 13px;
        text-align: center;
        padding-top: 5px;
    }

    #titulo {
        font-size: 18px;
    }

    form {
        margin-top: 17%;
    }

    #divsenha i {
        font-size: 15px;
    }

    #divsenha input {

        width: 83%;
    }

    #inputnome,
    #inputemail,
    #divsenha {
        width: 81%;
    }

    label {
        margin-right: 27%;
        font-size: 14px;
    }

    button {
        width: 30%;
        font-size: 15px;
    }

    .traco1,
    .traco2 {
        width: 35%;
    }

    .bolinha {
        width: 12px;
        height: 12px;
    }

    .icones {
        font-size: 18px;
    }

}

/* AJUSTE CELULAR COM TELA MUITO PEQUENA */

@media screen and (max-width: 320px) {
    #opcoes a {
        font-size: 11px;
    }

    .decoracao {
        margin-top: 30px;
    }

    button {
        width: 40%;
    }
}