@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Roboto", "sans-serif";
    background-color: #00288F;
}

header {
    background-color: #355DC5;
    display: inline-block;
    width: 100%;
}

img {
    width: 8%;
    height: 8%;
}

main {
    display: flex;
    justify-content: center;
}

#conteudo {
    background-color: #355ec5;
    text-align: center;
    border-radius: 100px;
    color: white;
    width: 25%;
    margin-top: 3%;
    height: 39rem;
}

i {
    color: black;
}

button {
    border-radius: 100px;
    margin-top: 15px;
    cursor: pointer;
}

#titulo {
    padding-top: 30x;
    font-size: 20px;
}

form {
    margin-top: 12%;
}

#campos {
    font-size: 15px;
}

#camposenha,
#campoemail {
    margin-top: 5%;
}

#campo1,
#campo2,
#campo3 {
    margin-right: 40%;
}

#inputemail,
#inputnome {
    border-radius: 100px;
    outline: none;
    border: 1px;
    width: 250px;
    height: 1.5rem;
    margin-top: 2%;
    padding-left: 2%;
}

button {
    width: 20%;
    height: 2rem;
    background-color: black;
    color: white;
    border: 1px;
    margin-top: 8%;
    font-size: 110%;

}

footer {
    display: flex;
    justify-content: center;
}

#rodape {
    text-align: center;
    background-color: #6696dfb4;
    border-radius: 100px;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
}

#caixaopcoes {
    margin-top: 3%;
}

#opcoes a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 5.5%;
    margin-right: 6%;
}

#opcoes a:hover {
    color: rgba(255, 255, 255, 0.671);
}

#cadastrar {
    margin-right: 15%;
}

.decoracao {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 7%;
}

.traco1,
.traco2 {
    width: 150px;
    height: 0.1%;
    border: 1px solid black;

}

.bolinha {
    border-radius: 100%;
    background-color: white;
    width: 15px;
    height: 15px;
    margin-top: -5px;
}

.icones {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 23px;
    cursor: pointer;
}

.containersenha {
    display: flex;
    justify-content: center;
}

#divsenha {
    border-radius: 100px;
    outline: none;
    border: 1px;
    width: 250px;
    height: 1.5rem;
    margin-top: 2%;
    padding-left: 2%;
    background-color: white;
}

#divsenha input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 214px;
    height: 1.3rem;
}

#divsenha i {
    display: absolute;
    font-size: 17px;
    margin-right: 9px;
    padding-bottom: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(24, 23, 23);
    transition: 00.5s all;
    transform: scale(1.1);
}

/* ANIMAÇÃO ICONES*/
.bi-instagram:hover {
    color: white;
    transition: 00.5s all;
    transform: scale(1.2);
}

.bi-facebook:hover {
    color: white;
    transition: 00.5s all;
    transform: scale(1.2);
}

.bi-google:hover {
    color: white;
    transition: 00.5s all;
    transform: scale(1.2);
}

/* RESPONSIVIDADE TABLET */
@media screen and (max-width: 900px) and (min-width: 600px) {
    header img {
        width: 15%;
        height: 15%;
    }

    #conteudo {
        margin-top: 5%;
        width: 50%;
    }

    #rodape {
        width: 55%;
        margin-top: 5%;
    }

    label {
        margin-right: 15%;
    }

    button {
        width: 30%;
    }

    .decoracao {
        margin-top: 10%;
    }

    .icones {
        margin-top: 13%;
    }
}

/* RESPONSIVIDADE: CELULAR */
@media screen and (max-width:600px) {
    header img {
        width: 22%;
        height: 22%;
    }

    #conteudo {
        width: 75%;
        height: 500px;
        margin-top: 7%;
    }

    #rodape {
        width: 80%;
        margin-top: 5%;
        height: 70px;
        font-size: 13px;
        text-align: center;
        padding-top: 5px;
    }

    #titulo {
        font-size: 18px;
    }

    form {
        margin-top: 17%;
    }

    #divsenha i {
        font-size: 15px;
    }

    #divsenha input {

        width: 83%;
    }

    #inputnome,
    #inputemail,
    #divsenha {
        width: 81%;
    }

    label {
        margin-right: 27%;
        font-size: 14px;
    }

    button {
        width: 30%;
        font-size: 15px;
    }

    .traco1,
    .traco2 {
        width: 35%;
    }

    .bolinha {
        width: 12px;
        height: 12px;
    }

    .icones {
        font-size: 18px;
    }

}

/* AJUSTE CELULAR COM TELA MUITO PEQUENA */

@media screen and (max-width: 320px) {
    #opcoes a {
        font-size: 11px;
    }

    .decoracao {
        margin-top: 30px;
    }

    button {
        width: 40%;
    }
}