body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #77A4E8;
}

.navbar {
  background-color: #325CC8;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  
}


.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo img { 
  width: 204px;
  height: auto;
}
/* searchbar começa  */
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}
/* searchbar termina */

.login-button {
  padding: 10px 20px;
  background-color: #00288F;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;

}
.navbar img{
  background-color: #fff;
}
.quemsomosfoto {
  text-align: center;
  position: relative; /* Adicionado position relative */
}



.quemsomosfoto img {
  display: block;
  margin: 0 auto 10px;
  border: none;
  border-radius: 20px;
  width: 400px;
  height: 200px;

  /* Removidos os estilos de position */
}

.Quem_Somos {
  
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 20px;
  background-color: #00288F;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  letter-spacing: -1.05px;
  /* Removido o estilo de position */
}
.artigos{
  width: 70px;
height: 40px;
flex-shrink: 0;
}
@media (min-width: 768px) {
  .Quem_Somos {
    padding: 30px;
    font-size: 18px;
  }

  .Quem_Somos h1 {
    font-size: 20px;
  }
}
.artigos{
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.Phishing{
  margin-left: 70%;
  margin-right: 50%;
  width: 184px;
  height: 47px;
  margin-top: 100px;
  box-sizing: border-box;
  flex-shrink: 0;
  color: #00288F;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 10px;
  opacity: 0.8;
  background: #FFF;
}
.Phishing strong{
  color: #00288F;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.98px;
}
.Email{
  position: absolute;
  margin-left: 70%;
  margin-right: 50%;
  width: 184px;
  height: 47px;
  margin-top: 120px;
  flex-shrink: 0;
  color: #00288F;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.98px;
  border-radius: 10px;
  opacity: 0.8;
  background: #FFF;
}
.Email strong{
  color: #00288F;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.98px;
}
.Senha{
  margin-left: 70%;
  margin-right: 50%;
  width: 184px;
  height: 47px;
  margin-top: 330px;
  flex-shrink: 0;
  color: #00288F;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.98px;
  border-radius: 10px;
  opacity: 0.8;
  background: #FFF;
}
.Senha strong{
  color: #00288F;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.98px;
} 
.Phishingfoto img{
  position: absolute;
  display: block;
  margin: 0 auto 10px;
  margin-left: 130px ;
  top: 450px;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 150px;
}
.Hackedfoto img{
  position: absolute;
  display: block;
  margin: 0 auto 10px;
  margin-left: 130px ;
  top: 650px;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 150px;
}
.Senhafoto img{
  position: absolute;
  display: block;
  margin: 0 auto 10px;
  margin-left: 130px ;
  top: 850px;
  border: none;
  border-radius: 15px;
  width: 300px;
  height: 150px;
}
.bolinhas svg{
  position: absolute;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  body {
      font-size: 16px; /* Standard font size for tablets and above */
  }

  h2 {
      font-size: 2em; /* Larger headings on bigger screens */
  }
}
img {
  width: 100%; /* Full width on smaller screens */
  height: auto; /* Maintain aspect ratio */
}

@media (min-width: 768px) {
  .topic img {
      width: 100%;
      object-fit: cover; /* Cover to maintain aspect without stretching */
  }
}
input[type="search"], button {
  padding: 12px;
  font-size: 16px;
}

@media (min-width: 992px) {
  input[type="search"], button {
      padding: 15px;
      font-size: 18px; /* Larger font size for desktop */
  }
}