@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    background-color: #A3C8FF;
    background-image: url(../assets/bgImg07.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -85%
}

header {
    display: flex;
    margin-top: 0px;

}

header img {
    width: 25%;
    height: 15%;
    margin-top: 30px;
    margin-left: 30px;

}

.perfil {
    margin-left: 1100px;
    width: 7%;
    margin-top: 13px;
    border: #00288F solid 5px;
    border-radius: 100px;
}

#first {
    margin: 100px 0px 50px 50px;

}

#quizzes {
    border-radius: 100px;
    border: #00288F solid 5px;
    background-color: #00288F;
    width: 15%;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.options {
    background-color: #00288F;
    width: 30%;
    color: white;
    border: #00288F solid 5px;
    border-radius: 100px;
    margin-bottom: 40px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 250px 200px;
    align-items: center;
}

.icons {
    font-size: 30px;
    margin-left: 210px;
}

#tutoriais {
    background-color: #355DC5;
    border-radius: 100px;
    border: #355DC5 solid 5px;
    width: 15%;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

#second {
    margin: 100px 0px 50px 50px;
}

#second .options {
    background-color: #355DC5;
    border: #355DC5 solid 5px;
}

/* RESPONSIVIDADE TABLET */
@media screen and (max-width: 900px) and (min-width: 600px) {
    body {
        background-position-y: 0px;
        background-size: 135%;
    }

    .perfil {
        margin-left: 315px;
        margin-top: 15px;
        width: 10%;
    }

    header img {
        width: 40%;
        margin-top: 15px;
    }

    .options {
        grid-template-columns: 250px 200px;
        width: 50%
    }

    #quizzes,
    #tutoriais {
        width: 25%;
    }

    .icons {
        margin-left: 55px;
    }
}

/* RESPONSIVIDADE: CELULAR */
@media screen and (max-width:600px) {
    body {
        background-position-y: 0px;
        background-size: 140%;
    }
    header img {
        margin: 15px 0px 0px 20px;
        width: 70%;
    }

.perfil {
    margin: 20px 0px 0px 25px;
    width: 13%;
}

#quizzes, #tutoriais {
    width: 40%;
    height: 30px;
    padding-bottom: 23px;
    font-size: 13px;
    margin-bottom: 20px;
}

#first, #second {
    margin-left: 20px;
}

#first .options, #second .options {
    width: 80%;
    font-size: 12px;
    grid-template-columns: 240px 200px;
}

.icons {
    margin-left: 0px;
    font-size: 25px;
}
}
