@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    background-color:#A3C8FF
}

header {
    background-color: #355DC5;
    display: inline-block;
    width: 100%;
}

#pesquisar {
    width: 50%;
    height: 40px;
    padding-left: 20px;
    vertical-align: top;
margin-left: 160px;
margin-top: 70px;
border-radius: 100px;
font-size: 25px;
font-weight: bold;
}

#login {
    width: 8%;
    height: 40px;
    background-color: #00288F;
    color: white;
    border: 0px;
    border-radius: 140px;
    margin-left: 120px;
    vertical-align:top;
    margin-top: 75px;
}

main {
    font-size: 28px;
    text-align: center;
}

main img {
    border-radius: 100px;
    border: 5px solid #355DC5;
}

h2 {
    margin-top: 30px;
    font-size: 26px;
    text-align: center;
}

div {
    display: flex;
}
.et1 {
    margin-left: 
}