body {
    font-family: 'Open Sans', sans-serif;
    background-color: #A3C8FF !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

/* input do nickname */
#campoEditar input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 50px;
    text-align: center;
    margin: auto;
    margin-top: 11rem;
    transform: translate(76%);
    text-align: start;
}

label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: #4240ec;
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 100%;


}

label i {
    position: inherit;
    left: 110%;
    bottom: 40%;
    font-size: 40px;
    color: #00288F;
    transform: translate(1150%, -5%);
    cursor: pointer;
}

/*
fim icone para clicar e o usuário poder reescrever o prórpio nickname
*/

/* inicio fundos pág */
.container {
    position: relative;
    z-index: 2;
    /* Certifique-se de que esteja acima do bgazul */
}

#bgazul {
    width: 100%;
    height: 100%;
    z-index: 1;
    top: -20%;
    position: absolute;
    /* Certifique-se de que esteja acima dos outros elementos */
}

.branco-box {
    bottom: 0;
    position: relative;
    background-color: white;
    border-radius: 10%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    opacity: 70%;
    width: 100%;
    height: 67%;
    z-index: -2;
}

/* fim fundos da pág */

/*início parte de foto do perfil */
.user-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 5% 43%;
    display: inline-block;
    justify-content: center;
    position: relative;
    z-index: 3;
}

#photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#file {
    display: none;
}

#uploadbtn {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transform: translate(-80%);
    margin-top: 30px;
    background-color: #6697DF;
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}

.user-img i {
    position: relative;
    font-size: 1.6rem;
    color: #00288F;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(-125%, 43%);
}

/*fim da parte de foto do perfil */


#input-file {
    display: none;
}


#formulario i {
    position: relative;
    left: 5%;
    z-index: 4;
    font-size: 40px;
    color: #00288F;
}

.heading span {
    margin-left: 0px;
}

#formulario {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 2rem auto;
    text-align: center;
    background: rgba(8, 70, 184, 0.527);
    width: 650px;
    height: 550px;
    border-radius: 15%;
    opacity: 50%;
    top: 120%;
    left: 28%;
    margin-bottom: 10rem;
}

.input-box input {
    width: 47%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: white;
    border-radius: 1.3rem;
    border: 2px solid var(--main-color);
    margin: 1.9rem 0;
    resize: none;
}

.heading span {
    margin-left: 0px;
}

.botao-container .botao-cancelar {
    top: 220%;
    width: 15%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #6697DF;
    border-radius: 3rem;
    right: 81%;
    cursor: pointer;
    resize: none;
    border: 2px black;
}

.botao-container .botao-salvar {
    top: 220%;
    width: 15%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #00288F;
    border-radius: 3rem;
    border: 2px black;
    resize: none;
    left: 81%;
    cursor: pointer;
}

.botao-cancelar:hover {
    background-color: black;
}

.botao-salvar:hover {
    background-color: black;
}

footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    background-color: #214ab1;
    padding: 10px 0;
    display: block;

}

.botao-container {
    display: flex;
    justify-content: space-around;
    /* Espaço uniforme entre os botões */
}

/*media screen para celulares estilo samsung s20 */
@media screen and (max-width: 800px) {
    #perfil {
        width: 64%;
        margin-top: 20px;
        margin-left: 64px;
    }

    .user-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 15% 45%;
    }

    #photo {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        transform: translate(-36%);
    }

    #uploadbtn {
        position: absolute;
        height: 30px;
        width: 30px;
        padding: 6px 6px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        transform: translate(-210%);
        margin-top: 30px;
        background-color: #6697DF;
        box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
    }

    #bgazul {
        height: 45%;
        margin-top: -18%;
    }

    .branco-box {
        background-color: white;
        border-radius: 10%;
        position: absolute;
        top: -50px;
        right: 0%;
        display: flex;
        justify-content: center;
        opacity: 70%;
        width: 100%;
        height: 67%;
        z-index: -2;
    }

    .nickname {
        position: absolute;
        font-size: 50px;
        top: 39%;
        right: 31%;
    }

    .nickname i {
        position: absolute;
        left: 110%;
        bottom: 40%;
        font-size: 37px;
        color: #00288F;
    }

    .trocar-foto .circulo-foto {
        transform: translate(315%, -90%);
    }

    #formulario i {
        position: relative;
        left: 5%;
        z-index: 4;
        font-size: 40px;
        color: #00288F !important;
    }

    .heading span {
        margin-left: 0px;
    }

    #formulario {
        max-width: 23rem;
        margin: 2rem auto;
        text-align: center;
        background: rgba(8, 70, 184, 0.527);
        width: 300px;
        height: 425px;
        border-radius: 10%;
        opacity: 50%;
        position: absolute;
        top: 66%;
        left: 1%;
        right: 0%;
    }

    #formulario i {
        position: relative;
        left: 5%;
        z-index: 4;
        font-size: 30px;
        color: #00288F !important;
    }

    .input-box input {
        width: 55%;
        padding: 1.5rem;
        font-size: 1rem;
        color: var(--text-color);
        background: white;
        border-radius: 1.3rem;
        border: 2px solid var(--main-color);
        margin: 1.2rem 0;
        resize: none;
    }

    .botao .botao-cancelar {
        position: absolute;
        top: 150%;
        width: 35%;
        padding: 1rem;
        font-size: 1.3rem;
        right: 59%;
    }

    .botao .botao-salvar {
        position: absolute;
        top: 150%;
        width: 35%;
        padding: 1rem;
        font-size: 1.3rem;
        left: 60%;
    }
}