body {
    font-family: 'Open Sans', sans-serif;
    background-color: #A3C8FF !important;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.user-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15% 45%;
}
#photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#file{
    display: none;
}
#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transform: translate(-80%);
    margin-top: 30px;
    background-color: #6697DF;
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}

.branco-box {
    background-color: white;
    border-radius: 10%;
    position: absolute;
    top: 300px;
    right: 0%;
    display: flex;
    justify-content: center;
    opacity: 70%;
    width: 100%;
    height: 67%;
    z-index: -2;
}

#bgazul {
    position: absolute;
    width: 100%;
    height: 95%;
    margin-top: -17%;
    z-index: -1;
    left: 0%;
}

#perfil {
    width: 16%;
    height: auto;
    margin-top: 208px;
    margin-left: 573px;
    border-radius: 50%;
    margin-bottom: -50px;
}
/*
.trocar-foto .circulo-foto {
    display: inline-flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: #4240ec;
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 100%;
    cursor: pointer;
    transform: translate(1100%, -80%);
}
*/
/* label{
    display: block;
    width:200px;
    background: #6697DF;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}
*/
label{
    display: inline-flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: #4240ec;
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 100%;
    cursor: pointer;
    transform: translate(1100%, -80%);
    font-size: 0px;
}

#input-file{
    display: none;
}



.user-img i {
    font-size: 1.6rem;
    color: #00288F;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translate(3%, -7%);
}

.nickname {
    position: absolute;
    font-size: 60px;
    line-height: 0px;
    top: 85%;
    right: 40.5%;
}

.nickname i {
    position: absolute;
    left: 110%;
    bottom: 40%;
    font-size: 40px;
    color: #00288F;
}

#formulario i {
    position: relative;
    left: 5%;
    z-index: 4;
    font-size: 40px;
    color: #00288F !important;
}

.heading span {
    margin-left: 0px;
}

#formulario {
    max-width: 75rem;
    margin: 2rem auto;
    text-align: center;
    background: rgba(8, 70, 184, 0.527);
    width: 650px;
    height: 550px;
    border-radius: 15%;
    opacity: 50%;
    position: absolute;
    top: 120%;
    left: 28%;
    stroke: antiquewhite;
}

.input-box input {
    width: 47%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: white;
    border-radius: 1.3rem;
    border: 2px solid var(--main-color);
    margin: 1.9rem 0;
    resize: none;
}

.heading span {
    margin-left: 0px;
}

.botao .botao-cancelar {
    position: absolute;
    top: 220%;
    width: 15%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #6697DF;
    border-radius: 3rem;
    right: 81%;
    cursor: pointer;
    resize: none;
    border: 2px black;
}

.botao .botao-salvar {
    position: absolute;
    top: 220%;
    width: 15%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #00288F;
    border-radius: 3rem;
    border: 2px black;
    resize: none;
    left: 81%;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    #perfil {
        width: 64%;
        margin-top: 20px;
        margin-left: 64px;
    }
    #bgazul {
        height: 45%;
        margin-top: -3%;
    }
    .branco-box {
        background-color: white;
        border-radius: 10%;
        position: absolute;
        top: -50px;
        right: 0%;
        display: flex;
        justify-content: center;
        opacity: 70%;
        width: 100%;
        height: 67%;
        z-index: -2;
    }
    .nickname {
        position: absolute;
        font-size: 50px;
        top: 39%;
        right: 31%;
    }
    
    .nickname i {
        position: absolute;
        left: 110%;
        bottom: 40%;
        font-size: 37px;
        color: #00288F;
    }
    .trocar-foto .circulo-foto {
        transform: translate(315%, -90%);
    }
    #formulario i {
        position: relative;
        left: 5%;
        z-index: 4;
        font-size: 40px;
        color: #00288F !important;
    }
    
    .heading span {
        margin-left: 0px;
    }
    
    #formulario {
        max-width: 23rem;
        margin: 2rem auto;
        text-align: center;
        background: rgba(8, 70, 184, 0.527);
        width: 300px;
        height: 425px;
        border-radius: 10%;
        opacity: 50%;
        position: absolute;
        top: 66%;
        left: 1%;
        right: 0%;
    }
    #formulario i {
        position: relative;
        left: 5%;
        z-index: 4;
        font-size: 30px;
        color: #00288F !important;
    }
    .input-box input {
        width: 55%;
        padding: 1.5rem;
        font-size: 1rem;
        color: var(--text-color);
        background: white;
        border-radius: 1.3rem;
        border: 2px solid var(--main-color);
        margin: 1.2rem 0;
        resize: none;
    }
    .botao .botao-cancelar {
        position: absolute;
        top: 150%;
        width: 35%;
        padding: 1rem;
        font-size: 1.3rem;
        right: 59%;
    }
    
    .botao .botao-salvar {
        position: absolute;
        top: 150%;
        width: 35%;
        padding: 1rem;
        font-size: 1.3rem;
        left: 60%;
    }
}