body {
    font-family: 'Open Sans', sans-serif;
    background-color: #A3C8FF;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 0px;
    overflow-x: hidden;
}

/* input do nickname */
#campoEditar {
    display: inline-flex;
    justify-content: center;
    /* Alinhar o contêiner ao centro horizontal */
    align-items: center;
    /* Alinhar o contêiner ao centro vertical */
    height: 10vh;
    /* Garantir que o contêiner ocupe toda a altura da página */
    width: 100%;
    /* Garantir que o contêiner ocupe toda a largura da página */
    border: 0px 0px 20px 20px solid transparent;
    /* Adiciona uma borda ao redor do item */
}

#campoEditar input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 50px;
    text-align: start;
    /* Alinhamento do texto à esquerda */
    max-width: 100%;
    /* Definir uma largura máxima para o campo de entrada */

}

#novoNickname::placeholder {
    color: rgb(43, 40, 40);
}

#campoEditar label i {
    font-size: 40px;
    color: #00288F;
    cursor: pointer;
    margin-left: 330px;
    display: inline-flex;
    border: 20px solid transparent;
    /* Adiciona uma borda ao redor do item */
    padding: 1px;
    /* Adiciona preenchimento para dar espaço interno à borda */
}

/*
fim icone para clicar e o usuário poder reescrever o prórpio nickname
*/

/* inicio fundos pág */

.bg04div {
    width: 50%;
}

/* fim fundos da pág */

/*início parte de foto do perfil */
#perfildiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 5rem;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-img {
    max-width: 12rem;
    min-height: 12rem;
}

.user-img label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: #4240ec;
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 100%;
}

#photo {
    width: 100%;
    border-radius: 50%;
}

#file {
    display: none;
}

#uploadbtn {
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transform: translate(-80%);
    margin-top: 30px;
    background-color: #6697DF;
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}


/*fim da parte de foto do perfil */


#input-file {
    display: none;
}


#formulario i {
    position: relative;
    left: 5%;
    z-index: 4;
    font-size: 40px;
    color: #00288F;
}

#formulario {
    justify-content: center;
    margin-top: 10px;
    margin: 2rem auto;
    text-align: center;
    background: rgba(8, 70, 184, 0.527);
    width: 650px;
    height: 415px;
    border-radius: 35px;
}

.input-box input {
    width: 47%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: white;
    border-radius: 1.3rem;
    border: 2px solid var(--main-color);
    margin: 1.9rem 0;
    resize: none;
}

.botao-container .botao-cancelar {
    width: 15%;
    padding: 1.5%;
    font-size: 1.6rem;
    color: white;
    background: #6697DF;
    border-radius: 3rem;
    cursor: pointer;
    border: 1px black;
    min-width: 17%;
}

.botao-container .botao-salvar {
    width: 15%;
    padding: 1.5%;
    font-size: 1.6rem;
    color: white;
    background: #00288F;
    border-radius: 3rem;
    border: 1px black;
    cursor: pointer;
    min-width: 17%;
}

.botao-cancelar:hover {
    background-color: black;
}

.botao-salvar:hover {
    background-color: black;
}

footer {
    width: 100%;
    background-color: #214ab1;
    padding: 10px 0;
    margin-top: 9rem;
}

.botao-container {
    display: flex;
    justify-content: space-around;
    /* Espaço uniforme entre os botões */
}

/*media query celular */
/* @media screen and (min-width: 360px) and (max-width: 390px)  and (min-height: 772px) and (max-height: 926px) {
*/
@media screen and (max-width: 767px) {

    .botao-container .botao-cancelar,
    .botao-container .botao-salvar {
        width: 40%;
        min-width: 28%;
    }

    #perfildiv {
        margin-bottom: 1rem;

    }

    .user-img {
        max-width: 4rem;
        min-height: 4rem;
    }

    #formulario {
        margin: 2rem auto;
        width: 350px;
        height: 358px;
        border-radius: 30px;
        justify-content: space-between;
    }

    .input-box input {
        width: 30%;
        font-size: 1.2rem;
        border-radius: 1.3rem;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    #formulario i {
        position: relative;
        left: 20vw;
        z-index: 4;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20%;
    }

    #uploadbtn {
        height: 20px;
        width: 20px;
        transform: translate(-70%);
        margin-top: 20px;
    }

    .user-img {
        max-width: 6.5rem;
        min-height: 6.5rem;
    }

    #campoEditar {
        display: inline-flex;
        justify-content: center;
        /* Alinhar o contêiner ao centro horizontal */
        align-items: center;
        /* Alinhar o contêiner ao centro vertical */
        height: 0vh;
        margin-top: 35px;

    }
#formulario i, input{
    justify-content: center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
    #campoEditar label i {
        font-size: 30px;
        color: #00288F;
        cursor: pointer;
        display: inline-flex;
        position: absolute;
    }

    #campoEditar input[type="text"] {
        font-size: 35px;
    }
}