/* CONFIGURAÇÕES GERAIS */
* {
    font-family: "Open Sans", "Roboto", "Montserrat", "Poppins", sans-serif;
    margin: 0;
}

body {
    background: #a3c8ff;
    background: linear-gradient(180deg, rgba(163, 200, 255, 1) 31%, rgba(0, 41, 143, 0.726) 100%);
    background-repeat: no-repeat;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
    color: #fff !important;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

.button {
    width: 70%;
    height: auto;
    color: #fff;
    background-color: #00112b;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.button:hover {
    border: 1px solid #00112b;
    background-color: #00112b85;
}


/* HEADER */

#header01 {
    background-color: #355DC5;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 90px;
}

#logo img {
    width: 100%;
    height: auto;
}

#searchBox {
    background-color: #fff;
    display: inline;
    border-radius: 30px;
}

#search {
    border: none;
    outline: none;
    width: 50%;
    margin: 10px 15px;
}

#searchBox i {
    color: #355DC5;
    margin-left: 15%;
}

#login {
    width: 90px;
    display: flex;
    justify-content: end;
}


/* SEÇÃO PRINCIPAL */

#mainIndex {
    background-color: #355DC5;
    position: relative;
    bottom: 25px;
}

#quemSomos {
    position: relative;
    margin: 20px;
    z-index: 1;
}

.quemSomosDiv {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
}

#quemSomosBanner {
    width: 90%;
    margin: 5% 5%;
    border-radius: 30px;
}

.quemSomosBtn {
    width: 50%;
    margin-left: 15.5%;
}


/* SEÇÃO DE ARTIGOS */

#bg01Div {
    margin-bottom: 50px;
}

#artigosSec {
    position: relative;
    bottom: 50px;
    margin-bottom: 20px;
}

.sliderConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1200px;
    width: 95%;
    margin-top: 50px;

}

.sliderWrapper .sliderBtn {
    position: absolute;
    top: 85%;
    height: 25px;
    width: 25px;
    color: #fff;
    border: none;
    outline: none;
    background: #00112b;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-85%);
}

.sliderWrapper .sliderBtn:hover {
    background-color: #00112b86;
}

.sliderWrapper .sliderBtn#prevSlide {
    left: 20px;
    display: none;
}

.sliderWrapper .sliderBtn#nextSlide {
    right: 20px;
}

.sliderWrapper .sliderList {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(6, 1fr);
}

.sliderWrapper .sliderList::-webkit-scrollbar {
    display: none;
}

.sliderWrapper .sliderList .sliderItem {
    background: #fff;
    padding-bottom: 5px;
}

.sliderWrapper .sliderList .sliderItem .sliderTitle {
    margin: 30px;
    color: #00112b;
    font-weight: 100;
}

.destaque {
    color: #00288F;
    font-weight: 500;
}

.sliderWrapper .sliderList .sliderItem img {
    width: 200px;
    height: 175px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}

.sliderScrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sliderScrollbar .scrollbarTrack {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.sliderScrollbar:hover .scrollbarTrack {
    height: 4px;
}

.sliderScrollbar .scrollbarThumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.sliderScrollbar .scrollbarThumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #00288F;
    border-radius: inherit;
    cursor: grab;
}

.sliderScrollbar .scrollbarThumb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


/* SEÇÃO PERGUNTAS FREQUENTES */

#perguntasSec {
    margin-bottom: 70px;
}

.perguntasMainTitle h2 {
    color: #00288F;
    text-align: center;
}

.perguntasWrapper {
    margin: 50px 0;
}

.perguntasList {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.perguntasItem {
    width: 90%;
    text-align: center;
}

.perguntasImg img {
    width: 90%;
    height: 90%;
}

.perguntasText {
    color: #00288F;
}


/* PAGINA ARTIGOS */
/* MAIN ARTIGOS */
#mainArtigos {
    background: rgb(163, 200, 255);
    background: linear-gradient(0deg, rgba(163, 200, 255, 1) -50%, rgba(0, 41, 143, 0.445) 100%);
    background-repeat: no-repeat;
    padding-top: 30px;
}

.artTitle {
    margin: 10px 0 40px 0;
}

.artWrapper {
    margin: 10px;
}

.artConteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.artImg {
    height: 80%;
}

.artImg img {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.artTxt {
    text-align: justify;
    padding-right: 15px;
}


/* SEÇÃO ARTIGOS01 */

#bg02Div {
    position: relative;
    bottom: -2px;
}

#bg03Div {
    position: relative;
    top: -15px;
}

#secArtigos01 {
    height: auto;
    margin: 0;
    background-color: #050a78;
    color: #fff;
    z-index: 1;
}

.artDiv {
    margin-bottom: 30px;
}

.topicoTitle {
    padding: 20px 10px 20px 10px;
    text-align: center;
}

.topicoDiv {
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
}

.topicoWrapper {
    margin: 20px 0;
}

.topicoList {
    margin-bottom: 20px;
}

.topicoItem {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    margin-bottom: 10px;
}

.topicoImg {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicoImg img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}


/* SEÇÃO ARTIGOS02 */
#secArtigos02 {
    margin-bottom: 30px;
}

.dicasTitle {
    margin: 50px 0 40px 0;
    text-align: center;
    color: #050a78;
}

.dicasDiv {
    margin: 10px;
    border: solid #00112b 5px;
    background-color: #00112b;
    color: #fff;
}

.dicasDecoracao {
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.dicasCircle {
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background: #355DC5;
}

.dicasBar {
    width: 90%;
    height: 15px;
    border-radius: 30px;
    background: #355DC5;
}

.dicasWrapper {
    margin-top: 10px;
    padding: 10px;
    background-color: #355DC5;
}

.dicasItem {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    align-items: center;
}

.dicasItem:nth-child(1) {
    margin-bottom: 40px;
}

.dicasIframe iframe {
    width: 100%;
    height: auto;
}

#pagLogin {
    background: radial-gradient(circle at 50% 44%, #050A78 10%, #00288F 39%, #355DC5 75%, #5E8BFF 90%, #A3C8FF 98%);
    background-size: 100% 130%;
}

#pagLogin main {
    display: flex;
    justify-content: center;
}

#pagLogin i {
    color: #000;
}


#conteudo {
    background-color: #355ec5;
    text-align: center;
    border-radius: 100px;
    color: white;
    width: 25%;
    margin-top: 3%;
    height: 39rem;
}

#titulo {
    padding-top: 30px;
    font-size: 20px;
}

#loginForm {
    margin-top: 85px;
}

#campos {
    font-size: 15px;
}

#camposenha {
    margin-top: 40px;
}

#campo1,
#campo2 {
    margin-right: 40%;
}

#inputemail {
    border-radius: 100px;
    outline: none;
    border: 1px;
    width: 250px;
    height: 1.5rem;
    margin-top: 2%;
    padding-left: 2%;
}

#caixaopcoes {
    margin-top: 3%;
    margin-bottom: 5%;
}

#opcoes a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 5.5%;
    margin-right: 6%;
}

#opcoes a:hover {
    color: rgba(255, 255, 255, 0.671);
}

#cadastrar {
    margin-right: 15%;
}

.decoracao {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 7%;
}

.traco1,
.traco2 {
    width: 150px;
    height: 0.1%;
    border: 1px solid black;

}

.bolinha {
    border-radius: 100%;
    background-color: white;
    width: 15px;
    height: 15px;
    margin-top: -5px;
}

.icones {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 23px;
    cursor: pointer;
}

.containersenha {
    display: flex;
    justify-content: center;
}

#divsenha {
    border-radius: 100px;
    outline: none;
    border: 1px;
    width: 250px;
    height: 1.5rem;
    margin-top: 2%;
    padding-left: 2%;
    background-color: white;
}

#divsenha input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 214px;
    height: 1.3rem;
}

#divsenha i {
    position: absolute;
    right: 41%;
    font-size: 17px;
    margin-right: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

#termosSec {
    display: flex;
    justify-content: center;
}

#rodape {
    text-align: center;
    background-color: #6696dfb4;
    border-radius: 100px;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 20px;
}


/* ANIMAÇÃO ICONES*/
.bi-instagram:hover {
    color: white;
    transition: 00.5s all;
    transform: scale(1.2);
}

.bi-facebook:hover {
    color: white;
    transition: 00.5s all;
    transform: scale(1.2);
}

.bi-google:hover {
    color: white;
    transition: 00.5s all;
    transform: scale(1.2);
}




/* FOOTER */

footer {
    margin: 30px 0;
}

.footerTxt {
    color: #fff;
}

.footerDiv,
.footerIcons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}

.footerIcons {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
}


.footerIcon a {
    color: #00288F;
    text-decoration: none;
}

/* RESPONSIVIDADE: CELULAR */
@media screen and (max-width:600px) {
    header img {
        width: 22%;
        height: 22%;
    }

    #conteudo {
        width: 75%;
        height: 500px;
        margin-top: 7%;
    }

    #rodape {
        width: 80%;
        margin-top: 5%;
        height: 70px;
        font-size: 13px;
        text-align: center;
        padding-top: 5px;
    }

    #titulo {
        font-size: 18px;
    }

    form {
        margin-top: 17%;
    }

    #divsenha i {
        right: 20%;
        font-size: 15px;
        margin-left: 5px;
    }

    #divsenha input {
        width: 83%;
    }

    #inputemail,
    #divsenha {
        width: 81%;
    }

    #pagLogin label {
        margin-right: 27%;
        font-size: 14px;
    }

    button {
        width: 27%;
        font-size: 15px;
    }

    .traco1,
    .traco2 {
        width: 35%;
    }

    .bolinha {
        width: 12px;
        height: 12px;
    }

    .icones {
        font-size: 18px;
    }

}


/* RESPONSIVIDADE: TABLET */
@media screen and (max-width: 900px) and (min-width: 600px) {
    h6 {
        font-size: 20px !important;
    }

    p {
        font-size: 18px;
    }

    #quemSomos {
        top: 50px;
    }

    .banner {
        width: 80%;
    }

    .sliderWrapper .sliderList .sliderItem img {
        width: 300px;
        height: 275px;
    }

    .perguntasImg img {
        width: 60%;
        height: 60%;
    }

    .artConteiner {
        grid-template-columns: 50% 40%;
    }

    .artImg {
        width: 90%;
        height: auto;
    }

    .artImg img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

    .artTxt {
        text-align: justify;
        width: 95%;
        padding-right: 15px;
    }

    .topicoDiv {
        padding: 0 10px 10px 10px;
        margin: 0 20px 10px 20px;
    }

    .topicoWrapper {
        margin: 20px 0;
    }

    .topicoConteiner {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .topicoList {
        margin-bottom: 20px;
    }

    .topicoItem {
        grid-template-columns: 10% 90%;
    }

    .topicoImg {
        width: 100%;
        margin: 0;
    }

    .topicoImg img {
        width: 80%;
    }

    .dicasDiv {
        margin: 50px;
    }

    .dicasDecoracao {
        grid-template-columns: 5% 5% 5% 90%;
    }

    .dicasItem {
        grid-template-columns: 50% 50%;
    }


    #conteudo {
        margin-top: 5%;
        width: 50%;
    }

    #rodape {
        width: 55%;
        margin-top: 5%;
    }

    #pagLogin label {
        margin-right: 15%;
    }

    .decoracao {
        margin-top: 10%;
    }

    .icones {
        margin-top: 13%;
    }

    #divsenha i {
        right: 35%;
    }
}


/* RESPONSIVIDADE: PC */
@media screen and (min-width: 900px) {
    h6 {
        font-size: 22px !important;
    }

    p {
        font-size: 20px;
    }

    #quemSomos {
        top: 50px;
    }

    .banner {
        width: 60%;
    }

    .sliderWrapper .sliderList {
        margin: 10px;
    }

    .sliderWrapper .sliderList .sliderItem img {
        width: 350px;
        height: 325px;
    }

    .perguntasImg img {
        width: 50%;
        height: 50%;
    }

    #bg02Div {
        bottom: -2px;
    }

    .artConteiner {
        grid-template-columns: 35% 50%;
    }

    .artImg {
        width: 70%;
        height: auto;
    }

    .artImg img {
        width: 100%;
    }

    .artTxt {
        width: 80%;
    }

    .topicoWrapper {
        margin: 20px 0;
    }

    .topicoConteiner {
        display: grid;
        grid-template-columns: 40% 40%;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
    }

    .topicoList {
        margin-bottom: 20px;
    }

    .topicoItem {
        grid-template-columns: 10% 90%;
    }

    .topicoImg {
        width: 100%;
        margin: 0;
    }

    .topicoImg img {
        width: 80%;
    }

    .artigos02Div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .dicasDiv {
        margin: 90px 50px;
        width: 70%;
    }

    .dicasConteiner {
        padding: 40px 20px;
    }

    .dicasDecoracao {
        grid-template-columns: 4.5% 4.5% 4.5% 90%;
    }

    .dicasItem {
        grid-template-columns: 30% 70%;
        gap: 20px;
    }
}