/* CONFIGURAÇÕES GERAIS */
* {
    font-family: "Open Sans", "Roboto", "Montserrat", "Poppins", sans-serif;
    margin: 0;
}

body {
    background: #a3c8ff;
    background: linear-gradient(180deg, rgba(163, 200, 255, 1) 31%, rgba(14, 65, 193, 0.879) 100%);
    background-repeat: no-repeat;
    height: auto !important;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
    color: #fff !important;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    font-size: 22px;
    margin-bottom: 0 !important;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

.button {
    width: 80%;
    padding: 10px 15px;
    background-color: #050a78;
    color: #fff;
    border-radius: 20px;
    border: none;
}

.button:hover {
    background-color: #050b789a;
    border: 0.1px solid #00112b;
}

/* HEADER */
.header {
    background-color: #355DC5;
    padding: 20px;
    display: grid;
    grid-template-columns: 85px 150px 100px;
    justify-content: space-between;
    align-items: center;
}

#fotoPerfil {
    grid-column: 3;
}

#perfil {
    width: 50%;
    border-radius: 50%;
    margin-left: 50px;
}

#logo {
    width: 55px;
    margin-left: -5px;
}

#logo img {
    width: 100%;
    height: auto;
}

#searchBox {
    background-color: #fff;
    display: inline;
    border-radius: 30px;
}

#searchInput {
    border: none;
    outline: none;
    width: 50%;
    margin: 10px 15px;
}

#searchBox i {
    color: #355DC5;
    margin-left: 15%;
}

#login {
    width: 90px;
    display: flex;
    justify-content: end;
}

.botaoDiv {
    margin-left: 2%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* PAGINA INDEX */
/* SEÇÃO PRINCIPAL */
#mainIndex {
    background-color: #355DC5;
    position: relative;
    bottom: 25px;
}

#quemSomos {
    position: relative;
    margin: 20px;
    z-index: 1;
}

.quemSomosDiv {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
}

#quemSomosBanner {
    width: 90%;
    margin: 5% 5%;
    border-radius: 30px;
}

.quemSomosBtn {
    width: 50%;
    margin-left: 10%;
}


/* SEÇÃO DE ARTIGOS */
#bg01Div {
    margin-bottom: 50px;
}

#artigosSec {
    position: relative;
    bottom: 50px;
    margin-bottom: 20px;
}

.sliderConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1200px;
    width: 95%;
    margin-top: 50px;

}

.sliderWrapper .sliderBtn {
    position: absolute;
    top: 80%;
    height: 23px;
    width: 23px;
    color: #fff;
    border: none;
    outline: none;
    background: #00112b;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-85%);
}

.sliderWrapper .sliderBtn:hover {
    background-color: #00112b86;
}

.sliderWrapper .sliderBtn#prevSlide {
    left: 10px;
}

.sliderWrapper .sliderBtn#nextSlide {
    right: 10px;
}

.sliderWrapper .sliderList {
    display: grid;
    margin: 70px 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(4, 1fr);
}

.sliderWrapper .sliderList::-webkit-scrollbar {
    display: none;
}

.sliderWrapper .sliderList .sliderItem {
    background: #fff;
    padding-bottom: 5px;
    margin: 10px;
    cursor: pointer;
}

.sliderWrapper .sliderList .sliderItem .sliderTitle {
    margin: 30px;
    color: #00112b;
    font-weight: 100;
}

.sliderWrapper .sliderList .sliderItem img {
    width: 200px;
    height: 175px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}


/* SEÇÃO PERGUNTAS FREQUENTES */
.modal-content {
    background-color: #355ec5 !important;
    color: #fff !important;
}

.modal-header {
    border-bottom: 0.5px solid #050a78 !important;
}

.modal-footer {
    margin-top: 20px;
    border-top: 0.5px solid #050a78 !important;
}

.modal-footer .button {
    width: 30%;
}

#perguntasSec {
    margin: 70px 0;
}

.perguntasMainTitle h2 {
    color: #00288F;
    text-align: center;
}

.perguntasWrapper {
    margin: 50px 0;
}

.perguntasList {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.perguntasItem {
    width: 80%;
    text-align: center;
    cursor: pointer;
    margin: 15px 0;
}

.perguntasItem:hover {
    background-color: #a3c8ffa8;
    border-radius: 10px;
    transition: 0.75s;
    scale: 1.1;
}

.perguntasImg img {
    width: 90%;
    height: 90%;
}

.perguntasText {
    color: #00288F;
}

/* PAGINA QUEM SOMOS */
#bg05Div {
    position: relative;
    top: -2px;
}

#mainQuemSomos {
    position: relative;
    z-index: 1;
    top: -170px;
}

.quemSomosTitle {
    margin: 50px 0;
}

#pagQuemSomos .quemSomosDiv {
    margin: 150px 0 -150px 0;
}

.quemSomosItem {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 80px;
}

.quemSomosImg img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

#missaoTitle,
#visaoTitle,
#valoresTitle {
    color: #fff;
    text-align: center;
    background-color: #355ec5;
    padding: 1px;
    border-radius: 10px;
    margin: 10px 0;
}

#missaoTxt,
#visaoTxt,
#valoresTxt {
    text-align: justify;
}

#visaoDiv .quemSomosImg {
    grid-column: 2;
    grid-row: 1;
    margin-left: 20px;
}

#visaoDiv .quemSomosImg img {
    width: 100%;
    height: auto;
}

#visaoDiv .quemSomosTxt {
    grid-column: 1;
    grid-row: 1;
}

/* PAGINA ARTIGOS */
/* MAIN ARTIGOS */
#mainArtigos {
    background: rgb(163, 200, 255);
    background: linear-gradient(0deg, rgba(163, 200, 255, 1) -50%, rgba(0, 41, 143, 0.445) 100%);
    background-repeat: no-repeat;
    padding-top: 30px;
}

.artTitle {
    margin: 10px 0 40px 0;
}

.artWrapper {
    margin: 10px;
}

.artConteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.artImg {
    height: 80%;
}

.artImg img {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.artTxt {
    text-align: justify;
    padding-right: 15px;
}

/* SEÇÃO ARTIGOS01 */
#bg02Div {
    position: relative;
    bottom: -2px;
}

#bg03Div {
    position: relative;
    top: -15px;
}

#secArtigos01 {
    height: auto;
    margin: 0;
    background-color: #050a78;
    color: #fff;
    z-index: 1;
}

.artDiv {
    margin-bottom: 30px;
}

.topicoTitle {
    padding: 20px 10px 20px 10px;
    text-align: center;
}

.topicoDiv {
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
}

.topicoWrapper {
    margin: 20px 0;
}

.topicoList {
    margin-bottom: 20px;
}

.topicoItem {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    margin-bottom: 10px;
}

.topicoImg {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicoImg img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}


/* SEÇÃO ARTIGOS02 */
#secArtigos02 {
    margin-bottom: 30px;
}

.dicasTitle {
    margin: 50px 0 40px 0;
    text-align: center;
    color: #050a78;
}

.dicasDiv {
    margin: 10px;
    border: solid #00112b 5px;
    background-color: #00112b;
    color: #fff;
}

.dicasDecoracao {
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    gap: 10px;
    align-items: center;
    padding: 5px;
}

.dicasCircle {
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background: #355DC5;
}

.dicasBar {
    width: 90%;
    height: 15px;
    border-radius: 30px;
    background: #355DC5;
}

.dicasWrapper {
    margin-top: 10px;
    padding: 10px;
    background-color: #355DC5;
}

.dicasItem {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    align-items: center;
}

.dicasItem:nth-child(1) {
    margin-bottom: 40px;
}

.dicasIframe iframe {
    width: 100%;
    height: auto;
}

/* BOTÃO PAGINICIAL */
#btnConteiner {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.btnDiv {
    width: 50%;
    display: flex;
    justify-content: center;
}


/* PÁGINA DE LOGIN E CADASTRO */
#pagCadastro i {
    color: black;
}

#pagCadastro button {
    cursor: pointer;
}

#pagLogin #inputsenha,
#pagLogin #inputemail {
    height: 1.7rem;
}


.entrar-login {
    width: 50%;
    height: auto;
    color: #fff;
    background-color: #00112b;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.entrar-login:hover {
    background-color: #1f1f1f;
}

#pagLogin,
#pagCadastro {
    background: radial-gradient(circle at 50% 44%, #050A78 10%, #00288F 39%, #355DC5 75%, #5E8BFF 90%, #A3C8FF 98%);
    background-size: 100% 130%;
}

#pagLogin main,
#pagCadastro main {
    display: flex;
    justify-content: center;
}

#pagLogin i {
    color: #fff;
}

#conteudo {
    background-color: #355ec5;
    text-align: center;
    border-radius: 100px;
    color: white;
    width: 25%;
    margin-top: 3%;
    height: 39rem;
}

#titulo {
    padding-top: 30px;
    font-size: 20px;
}

#loginForm,
#registerForm {
    margin-top: 50px;
}

#camponome,
#campoemail,
#camposenha {
    margin-top: 15px;
}

#campo1,
#campo2,
#campo3 {
    margin-right: 45%;
    margin-bottom: 3%;
}

#pagLogin #campo1 {
    margin-top: 15%;
}

#pagLogin h1 {
    margin-top: 5%;
}

#inputemail,
#inputnome,
#inputsenha {
    border-radius: 100px;
    outline: none;
    border: 1px;
    width: 245px;
    margin-top: 0%;
    margin-bottom: 5%;
    padding: 5px;
}

#funcaoMostrarSenha {
    display: flex;
    justify-content: center;
}

#funcaoMostrarSenha i {
    font-size: 16px;
    color: white !important;
    cursor: pointer;
}

#caixaopcoes {
    margin-top: 5%;
    margin-bottom: 5%;
}

#funcaoMostrarSenha span {
    font-size: 14px;
    margin-left: 2%;
    margin-right: 27%;
    font-style: normal;
}

#opcoes a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 5.5%;
    margin-right: 6%;
}

#opcoes a:hover {
    color: rgba(255, 255, 255, 0.671);
}

#cadastrar {
    margin-right: 15%;
}

.decoracao {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 7%;
}

.traco1,
.traco2 {
    width: 150px;
    height: 0.1%;
    border: 1px solid black;

}

.bolinha {
    border-radius: 100%;
    background-color: white;
    width: 15px;
    height: 15px;
    margin-top: -5px;
}

.icones {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 23px;
    cursor: pointer;
}

.containersenha {
    display: flex;
    justify-content: center;
}

#termosSec {
    display: flex;
    justify-content: center;
}

#rodape {
    text-align: center;
    background-color: #6696dfb4;
    border-radius: 100px;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 20px;
}

#pagLogin i {
    color: black;
}

#pagLogin #termosSec a {
    color: rgba(128, 0, 128, 0.664);
}

/* PÁGINA INICIAL */
.secCards {
    height: 60vh;
    padding-top: 100px;
    padding-bottom: 25px;
    background: #355DC5;
}

.secCards .secCardsTxt {
    color: #fff;
    text-align: center;
}

.card-group {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 5px;
}

.card {
    margin-top: 40px;
    border: none !important;
    border-radius: 20%;
    background-color: #ffffffa6 !important;
    color: #00288F !important;
    cursor: pointer;
}

.card a {
    text-decoration: none !important;
    color: #00288F !important;
}

.card .card-img-top {
    margin-bottom: 5px;
    width: auto;
    height: 80px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.card-body {
    border-radius: 20%;
}

.card:hover {
    -webkit-box-shadow: -3px 3px 42px 3px rgba(15, 57, 172, 0.36);
    -moz-box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
    box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
    transition: 0.2s;
    scale: 1.1;
    border: solid 1px #00288F;
}

/* SECCONTINUE */
#bg07Div svg {
    width: 100%;
    position: relative;
    top: -2px;
}

.secContinue {
    cursor: pointer;
    height: 50vh;
}

.secContinue #continuarTutorial {
    position: relative;
    padding: 40px 15px;
    margin: 60px 0 90px 0;
    display: flex !important;
    flex-direction: row;
    color: #00288F;
    background: #ffffff80;
    border-radius: 200px;
}

.secContinue img {
    width: 100px;
    height: 80px;
    border-radius: 100%;
}

.tituloTutorial {
    margin-left: 15px;
}

.tituloTutorial>h3 {
    font-weight: bold;
}

#continuarTutorial:hover {
    background: #00298f;
    color: #fff;
    transition: 0.5s ease-in-out;
}

/* SECLISTAS */
.secListas {
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 0 90px;
}

.secListasTxt {
    width: 80%;
    text-align: center;
    color: #00288f;
}

#artigos,
#tutoriais,
#quizzes {
    width: 80%;
    margin: 30px 15px 0px 15px;
    border-radius: 10px;
}

.secListas #listasImg {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
}

#artigos:hover {
    scale: 1.10;
    transition: 0.25s;
    -webkit-box-shadow: -3px 3px 42px 3px rgba(15, 57, 172, 0.36);
    -moz-box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
    box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
}

#tutoriais:hover {
    scale: 1.10;
    transition: 0.25s;
    -webkit-box-shadow: -3px 3px 42px 3px rgba(15, 57, 172, 0.36);
    -moz-box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
    box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
}

#quizzes:hover {
    scale: 1.10;
    transition: 0.25s;
    -webkit-box-shadow: -3px 3px 42px 3px rgba(15, 57, 172, 0.36);
    -moz-box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
    box-shadow: -3px 3px 42px 3px rgba(5, 57, 172, 0.36);
}

.carousel-caption {
    color: #00112b;
}

.carousel-caption .button {
    width: 40%;
    padding: 4px;
    margin-top: 5px;
}

/* PÁGINA CATALOGO */
#pagCatalogo .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bannerMain {
    margin-top: 100px;
}

.bannerMain .bannerDiv .banner {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 20px 0 50px;
}

.banner img {
    width: 95%;
    height: auto;
    border-radius: 15px;
}

.catalogoMain {
    width: 90%;
    margin: 5%;
}

.catalogoFiltros {
    display: flex;
    flex-flow: column;
    background: #ffffff9f;
    padding: 15px;
    border-radius: 10px;
}

.filtrosText {
    margin: 10px;
}

.filtrosbtn {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.catalogoWrapper {
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.catalogoList {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    margin-top: 60px;
}

.filterBtn {
    width: 100%;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.clearFilter {
    width: 100%;
    color: #00288F;
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background: transparent;
}

#filter1 {
    background: #00112bb2;
}

#filter2 {
    background: #050b78b2;
}

#filter3 {
    background: #00298fb2;
}

#filter1:hover {
    background: #00112b;
}

#filter2:hover {
    background: #050b78;
}

#filter3:hover {
    background: #00298f;
}

#filter4:hover {
    background: #7575724d;
}


.catalogoItem {
    background: #fff;
    padding-bottom: 5px;
    margin: 10px;
    cursor: pointer;
}

.catalogoTitle {
    width: 100%;
    padding: 10px;
    color: #00298f;
    text-align: center;
    font-weight: 100;
}

.catalogoImg img {
    width: 100%;
    height: 175px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}

.catalogoItem:hover {
    transition: 1.1s;
    -webkit-box-shadow: 7px 35px 300px -23px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 7px 35px 300px -23px rgba(0, 0, 0, 0.85);
    box-shadow: 7px 35px 300px -23px rgba(0, 0, 0, 0.85);
    scale: 1.1;
}


/* PÁGINAS QUIZZES E TUTORIAIS */
#bg06Div {
    position: relative;
    top: -1px;
}

#pagTutoriais main {
    position: relative;
    bottom: 250px;
    z-index: 1;
}

#pagQuizzes main {
    position: relative;
    bottom: 250px;
    z-index: 1;
}

/* SEC PRINCIPAL */
.tituloPrincipal {
    margin: 20px 0 80px 0;
}

/* LISTA */
.lista {
    margin: 20% 5% -125px 5%;
    padding: 15px 0;
    background-color: #ffffffb4;
    border-radius: 20px;
}

.listaBox {
    display: flex;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.listaTitulo {
    color: #fff;
    font-weight: lighter;
    background-color: #00288F;
    margin: 10px 10px;
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    text-align: center;
}

.listaIcon {
    margin-top: 5%;
}

.listaIcon i {
    color: #00288F;
    border-radius: 100%;
    font-size: 45px;
}

/* CONTEUDO TUTORIAIS */
.secPrincipalTutoriais,
.secPrincipalQuizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

#pagTutoriais iframe {
    width: 360px;
    height: 215px;
    border-radius: 30px;
}

.etapas {
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: #ffffff93;
    border-radius: 20px;
}

.etapa {
    width: 90%;
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.etapa img {
    width: 150px;
    height: auto;
}

.etapa:hover {
    color: #fff;
    background-color: #00112b;
    border-radius: 30px;
    transition: 1s;
    scale: 1.10;
}

.etapaImg img {
    width: 200%;
    height: auto;
    cursor: pointer;
}

.tituloSecundario {
    margin: 15% 20% 10% 20%;
    text-align: left;
    color: #00288F;
}

.conteudoDiv {
    background-image: url(../assets/bgImg08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin: 0 5% 5% 5%;
    padding: 15% 5%;
    border-radius: 30px;
    text-align: justify;
    color: #fff;
}

.botaoLista {
    width: 85%;
    margin-top: 20px;
    margin-bottom: -160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botaoProximoDiv {
    width: 85%;
    margin-bottom: -70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#botaoPagLista,
#botaoConcluir,
#botaoProximo,
#botaoSair {
    width: 90px;
    color: #fff;
    background-color: #00112b;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* PÁGINAS QUIZ */
#bg08Div {
    position: relative;
    top: -2px;
}

.quizTitle {
    position: relative;
    bottom: 95px;
}

.pergunta_titulo {
    margin-top: 0;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    color: white;
}

.barra {
    padding-top: 7%;
    padding-bottom: 7%;
    margin: auto;
    text-align: center;
    width: 100%;
}

.barra_de_progresso {
    border-radius: 22px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #d9d9d9;
    display: flex;
    width: 95%;
    max-width: 369px;
    height: 21px;
    overflow: hidden;
    margin: 45px auto 20px;
}

.progresso {
    border-radius: 22px 0 0 22px;
    background-color: #00288f;
    height: 100%;
    width: 25%;
}

.numero {
    color: #eae7e7;
    mix-blend-mode: plus-lighter;
    font: 600 18px Open Sans, sans-serif;
}

.pergunta_quiz {
    border-radius: 14px;
    background-color: rgba(232, 232, 232, 1);
    color: #233156;
    text-align: center;
    padding: 10%;
    font: 400 130% Open Sans, sans-serif;
    margin: 3%;
}

.true-button,
.false-button,
.finish-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.true-button button,
.false-button button,
.finish-button button {
    border-radius: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 8% 42%;
    font: 700 18px Open Sans, sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.true-button button {
    background-color: #00288f;
    color: #fff;
}

.false-button button {
    background-color: #b3cdf3;
    color: #233156;
    margin-bottom: 280px;
}

.finish-button button {
    background-color: #00288f;
    color: #fff;
    margin-bottom: 450px;
}

.resultado-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00112b;
}

/* POP-UP NICKNAME */
#nicknamePopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #3c6171;
    padding: 20px;
    border-radius: 35px;
    background-color: #3a51ae;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.745);
    z-index: 999;
}

.popup-container {
    font-family: Arial, sans-serif;
}

.popup-container h2 {
    text-align: center;
}

.popup-container input {
    display: flex;
    width: 100%;
    margin: 10px 0;
    outline: none;
    border-radius: 15px;
    text-decoration: none;
}

.popup-container input {
    padding-left: 11px;
    border: 1px solid blanchedalmond;
}

.popup-container button {
    width: 50%;
    padding: 10px;
    background: #14266e;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 24%;
}

.popup-container button:hover {
    background: black;
}

/* PÁGINA O QUE FOI FEITO */
#historicoMain {
    height: 45vh;
}

.progressDiv {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.progressBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 25%;
    margin-top: 80%;
    background: #f7f7f7af;
    border-radius: 10px;
    padding: 15px;
}

.progressCircle svg {
    width: 150px;
    height: 150px;
    position: relative;
}

#pagOqFoiFeito circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: #00112b86;
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

#pagOqFoiFeito circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #00112b3a;
}

#pagOqFoiFeito circle:nth-child(2) {
    stroke-dashoffset: calc(440 - 0);
    stroke: #00298f;
}

.progressNumber {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00298f;
}

.secText {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}

.secText h2 {
    color: #fff;
}

#historicoArtigosSec {
    margin-bottom: 80px;
}

.historicoTutorialMain, .historicoQuizzesMain {
    margin: 15% 5%;
}

.historicoTutorialList, .historicoQuizzesList {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.historicoTutorialItem, .historicoQuizzesItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 20px 0;
}

.historicoTutorialImg, .historicoQuizzesImg {
    margin: 5px 0;
}

.historicoTutorialImg img, .historicoQuizzesImg img {
    border-radius: 100%;
    width: 125px;
    height: 125px;
}

.historicoTutorialText, .historicoQuizzesText {
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
}

/* FOOTER */
footer {
    margin: 30px 0;
}

.footerTxt {
    color: #fff;
}

.footerDiv,
.footerIcons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}

.footerIcons {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
}

.footerIcon a {
    color: #00288F;
    text-decoration: none;
}

/* RESPONSIVIDADE: CELULAR */
@media screen and (max-width:600px) {
    header img {
        width: 22%;
        height: 22%;
    }

    #conteudo {
        width: 75%;
        height: 550px;
        margin-top: 7%;
    }

    #rodape {
        width: 80%;
        margin-top: 5%;
        height: 70px;
        font-size: 13px;
        text-align: center;
        padding-top: 5px;
    }

    #titulo {
        font-size: 18px;
    }

    form {
        margin-top: 17%;
    }

    #inputnome,
    #inputemail,
    #inputsenha {
        width: 81%;
    }

    #pagLogin #rodape p,
    #pagCadastro #rodape p {
        padding-top: 7.5%;
    }

    #pagLogin label {
        margin-right: 27%;
        font-size: 14px;
    }

    button {
        width: 27%;
        font-size: 15px;
    }

    .traco1,
    .traco2 {
        width: 35%;
    }

    .bolinha {
        width: 12px;
        height: 12px;
    }

    .icones {
        font-size: 18px;
    }

}


/* RESPONSIVIDADE: TABLET */
@media screen and (max-width: 900px) and (min-width: 600px) {
    h6 {
        font-size: 20px !important;
    }

    p {
        font-size: 18px;
    }

    .header {
        grid-template-columns: 85px 250px 100px;
    }

    #logo {
        width: 85px;
    }

    #perfil {
        width: 85%;
        margin-left: 15px;
    }

    #searchBox {
        width: 100%;
    }

    .searchBtn {
        margin-left: 65px !important;
    }

    /* PAG INDEX */
    #quemSomos {
        top: 50px;
    }

    .banner {
        width: 80%;
    }

    .sliderWrapper .sliderList .sliderItem img {
        width: 300px;
        height: 275px;
    }

    .perguntasImg img {
        width: 60%;
        height: 60%;
    }

    /* PAG ARTIGOS */
    .artConteiner {
        grid-template-columns: 50% 40%;
    }

    .artImg {
        width: 90%;
        height: auto;
    }

    .artImg img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }

    .artTxt {
        text-align: justify;
        width: 95%;
        padding-right: 15px;
    }

    .topicoDiv {
        padding: 0 10px 10px 10px;
        margin: 0 20px 10px 20px;
    }

    .topicoWrapper {
        margin: 20px 0;
    }

    .topicoConteiner {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .topicoList {
        margin-bottom: 20px;
    }

    .topicoItem {
        grid-template-columns: 10% 90%;
    }

    .topicoImg {
        width: 100%;
        margin: 0;
    }

    .topicoImg img {
        width: 80%;
    }

    .dicasDiv {
        margin: 50px;
    }

    .dicasDecoracao {
        grid-template-columns: 5% 5% 5% 90%;
    }

    .dicasItem {
        grid-template-columns: 50% 50%;
    }

    .btnDiv {
        width: 30%;
    }

    /* PAG QUEM SOMOS */
    #mainQuemSomos {
        top: -300px;
    }

    #pagQuemSomos .quemSomosDiv {
        margin: 250px 0 -200px 0;
    }

    /* PAG LOGIN */
    #conteudo {
        margin-top: 5%;
        width: 50%;
    }

    #rodape {
        width: 55%;
        margin-top: 5%;
    }

    #pagLogin label,
    #pagCadastro label {
        margin-right: 15%;
    }

    .decoracao {
        margin-top: 10%;
    }

     /* PÁGINA INICIAL */
     .secCards {
        height: 600px;
    }

    .card-group {
        width: 90%;
        grid-template-columns: 20% 20% 20%;
        gap: 20px;
        margin: 5% 5%;
    }

    .card .card-img-top {
        height: 150px;
    }

    /* SECCONTINUE */
    #bg07Div svg {
        width: 100%;
        top: -2px;
    }

    .secContinue {
        cursor: pointer;
        height: 10vh;
    }

    .secContinue #continuarTutorial {
        width: 60%;
        margin: 5% 20%;
    }

    .secContinue img {
        width: 140px;
        height: 120px;
    }

    .tituloTutorial {
        margin-left: 15px;
        margin-top: 20px;
    }

    /* SECLISTAS */
    .secListas {
        margin: 400px 0 50px;
    }

    #artigos,
    #tutoriais,
    #quizzes {
        width: 95%;
        margin: 60px 0;
    }

    .secListas #listasImg {
        grid-template-columns: 25% 25% 25%;
        gap: 60px;
    }


    .carousel-caption {
        height: 150px;
    }

    .carousel-caption .button {
        width: 20%;
        padding: 4px;
        margin-top: 5px;
    }


    /* PÁGINA CATÁLOGO */
    .bannerMain {
        margin-top: 150px;
    }

    .bannerMain .bannerDiv .banner {
        width: 100%;
    }

    .catalogoMain {
        width: 75%;
        margin: 10% 12.5%;
    }

    .filtrosbtn {
        grid-template-columns: 25% 25% 25% 10%;
    }

    .catalogoTitle {
        padding: 20px;
    }

    .catalogoImg img {
        height: 275px;
    }

    /* PÁGINAS TUTORIAIS E QUIZZES */
    .botaoDiv {
        margin-left: 5%;
        font-size: 30px;
        color: #fff;
    }

    #pagTutoriais main {
        bottom: 500px;
    }

    #pagQuizzes main {
        bottom: 500px;
    }

    .tituloPrincipal {
        margin: 0;
    }

    /* LISTA */
    .lista {
        width: 80%;
        margin: 130px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listaBox {
        width: 70%;
        padding: 5px;
        vertical-align: baseline;
    }

    /* CONTEUDO TUTORIAIS */
    #pagTutoriais iframe {
        width: 560px;
        height: 315px;
    }

    .videoDiv {
        margin-top: 10%;
    }

    .etapas {
        width: 60%;
    }

    .etapa {
        width: 80%;
        grid-template-columns: 150px 150px;
    }

    .etapa img {
        width: 250px;
        height: auto;
    }

    .etapaImg img {
        width: 150%;
    }

    .tituloSecundario {
        margin-top: 50px;
    }

    .conteudoDiv {
        margin: 0 10%;
        padding: 10% 5%;
    }

    .botaoLista {
        margin-bottom: -400px;
    }

    .botaoProximoDiv {
        margin: 40px;
        margin-bottom: -200px;
    }

    #botaoPagLista,
    #botaoConcluir,
    #botaoProximo,
    #botaoSair {
        width: 115px;
    }


    /* PÁGINAS QUIZ */
    .quizTitle {
        bottom: 150px;
        margin-bottom: -20px;
    }

    .barra_de_progresso {
        max-width: 500px;
    }

    .true-button button,
    .false-button button {
        width: 60%;
    }
}


/* RESPONSIVIDADE: PC */
@media screen and (min-width: 900px) {
    h6 {
        font-size: 22px !important;
    }

    p {
        font-size: 20px;
    }

    .header {
        grid-template-columns: 85px 350px 100px;
    }

    .searchBtn {
        margin-left: 100px !important;
    }

    #perfil {
        width: 80%;
        margin-left: 20px;
    }

    #logo {
        width: 95px;
    }

    /* PAG INDEX */
    #quemSomos {
        top: 50px;
    }

    .banner {
        width: 60%;
    }

    .quemSomosBtn {
        width: 30%;
        margin-left: 8%;
    }

    .sliderWrapper .sliderList {
        margin: 10px;
    }

    .sliderWrapper .sliderList .sliderItem img {
        width: 350px;
        height: 325px;
    }

    .perguntasImg img {
        width: 50%;
        height: 50%;
    }

    #bg02Div {
        bottom: -2px;
    }

    /* PAG ARTIGOS */
    .artConteiner {
        grid-template-columns: 35% 50%;
    }

    .artImg {
        width: 70%;
        height: auto;
    }

    .artImg img {
        width: 100%;
    }

    .artTxt {
        width: 80%;
    }

    .topicoWrapper {
        margin: 20px 0;
    }

    .topicoConteiner {
        display: grid;
        grid-template-columns: 40% 40%;
        align-items: center;
        justify-content: center;
        margin: 50px 0;
    }

    .topicoList {
        margin-bottom: 20px;
    }

    .topicoItem {
        grid-template-columns: 10% 90%;
    }

    .topicoImg {
        width: 100%;
        margin: 0;
    }

    .topicoImg img {
        width: 80%;
    }

    .artigos02Div {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .dicasDiv {
        margin: 90px 50px;
        width: 70%;
    }

    .dicasConteiner {
        padding: 40px 20px;
    }

    .dicasDecoracao {
        grid-template-columns: 4.5% 4.5% 4.5% 90%;
    }

    .dicasItem {
        grid-template-columns: 30% 70%;
        gap: 20px;
    }

    .btnDiv {
        width: 20%;
    }

    /* PAG QUEM SOMOS */
    #mainQuemSomos {
        top: -450px;
    }

    #pagQuemSomos .quemSomosDiv {
        margin: 400px 0 -300px 0;
    }


    .quemSomosImg img {
        width: 70%;
    }


    #visaoDiv .quemSomosImg img {
        width: 80%;
    }

    #visaoDiv {
        gap: 100px;
    }


    /* PAGINA LOGIN */
    #loginForm button {
        width: 30%;
        height: 40px;
        padding-bottom: 10px;
    }

    /* PÁGINA INICIAL */
    .secCards {
        height: 600px;
    }

    .card-group {
        width: 90%;
        grid-template-columns: 20% 20% 20%;
        gap: 20px;
        margin: 5% 5%;
    }

    .card .card-img-top {
        height: 200px;
    }


    /* SECCONTINUE */
    #bg07Div svg {
        width: 100%;
        top: -2px;
    }

    .secContinue {
        cursor: pointer;
        height: 50vh;
    }

    .secContinue #continuarTutorial {
        width: 60%;
        margin: 5% 20%;
    }

    .secContinue img {
        width: 140px;
        height: 120px;
    }

    .tituloTutorial {
        margin-left: 15px;
        margin-top: 20px;
    }

    /* SECLISTAS */
    .secListas {
        margin: 400px 0 100px;
    }

    #artigos,
    #tutoriais,
    #quizzes {
        width: 95%;
        margin: 60px 0;
    }

    .secListas #listasImg {
        grid-template-columns: 25% 25% 25%;
        gap: 60px;
    }

    .carousel-item {
        height: 75vh;
    }

    .carousel-item img {
        height: 90vh;
    }

    .carousel-caption {
        height: 200px;
    }

    .carousel-caption .button {
        width: 20%;
        padding: 4px;
        margin-top: 5px;
    }


    /* PÁGINA CATÁLOGO */
    .bannerMain {
        margin-top: 155px;
    }

    .bannerMain .bannerDiv .banner {
        width: 100%;
    }

    .banner img {
        width: 65%;
    }

    .catalogoMain {
        width: 65%;
        margin: 2% 17.5%;
    }

    .filtrosbtn {
        grid-template-columns: 20% 20% 20% 10%;
    }

    .catalogoTitle {
        padding: 20px;
    }

    .catalogoImg img {
        height: 375px;
    }

    /* PÁGINAS TUTORIAIS E QUIZZES */
    .tituloPrincipal,
    .tituloSecundario,
    .lista,
    .videoDiv,
    .etapas,
    .conteudoDiv,
    .botaoProximoDiv,
    .botaoLista {
        position: relative;
        bottom: 650px;
    }

    .lista,
    .botaoLista {
        margin-bottom: -650px;
    }

    /* LISTA */
    .tituloPrincipal {
        margin-bottom: 20px;
    }

    .lista {
        width: 70%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listaBox {
        width: 70%;
        padding: 5px;
    }

    .listaTitulo {
        padding: 20px 5px;
    }

    .listaIcon {
        margin-top: 2%;
    }

    /* CONTEUDO TUTORIAIS */
    #pagTutoriais iframe {
        width: 760px;
        height: 415px;
    }

    .videoDiv {
        margin-top: 10px;
    }

    .etapas {
        width: 50%;
    }

    .etapa {
        width: 80%;
        grid-template-columns: 200px 200px;
    }

    .etapa img {
        width: 250px;
        height: auto;
    }

    .etapaImg img {
        width: 80%;
    }

    .tituloSecundario {
        margin: 5% 5% 5%;
    }

    .conteudoDiv {
        margin: 0% 20% 0% 20%;
        padding: 5% 5%;
    }

    .botaoProximoDiv {
        margin: 40px;
        margin-bottom: -700px;
    }

    #botaoPagLista,
    #botaoConcluir,
    #botaoProximo,
    #botaoSair {
        width: 120px;
    }

    /* PÁGINAS QUIZ */
    .quizTitle {
        bottom: 200px;
        margin-bottom: -100px;
    }

    .barra_de_progresso {
        max-width: 80%;
    }

    .true-button button,
    .false-button button {
        max-width: 10%;
    }
}