body {
  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #77A4E8;
}

.navbar {
  background-color: #325CC8;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 204px;
  height: auto;
}

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}

/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}

/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

/* searchbar termina */

.login-button {
  padding: 10px 20px;
  background-color: #00288F;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer; /* Correção aqui: substituí 'curso' por 'cursor' */
}

#primeira_parte{
  text-align: center;
}

#primeira_parte h1 {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.68px;
}

#primeira_parte h2 {
  text-align: left;
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  margin-top: auto;
  width: 20%
}
#primeira_parte img{
  width: 248px;
  height: 130px;
  flex-shrink: 0;
  right: 52%;
}
#segunda_parte{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
#segunda_parte   h1{
  color: #FFF;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.68px;
}
#retangulo{
  position: absolute;
  width: 100%; /* Largura do retângulo */
  height: 500px; /* Altura do retângulo */
  background-color: #f8f8f8; /* Cor do retângulo */
  z-index: 1; /* z-index menor para ficar atrás das outras divs */
  top: 50px; /* Posição vertical do retângulo */
  left: 0; /* Posição horizontal do retângulo */
}
#segunda_parte ul{
color: #FFF;
font-family: "Open Sans";
margin:auto;
text-align: justify;
font-size: 10px;
font-style: normal;

}
#segunda_parte img{
flex-shrink: 0;
right: 52%;
width: 200px;
height: 150px;
border: none;
border-radius: 20px;


}
/* #terceira_parte h1{
color: #00288F;
font-family: "Open Sans";
font-size: 15px;
top: 600px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.05px;
}
#terceira_parte h2{
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.05px;
  text-decoration-line: underline;
}
#terceira_parte img{
position: absolute;  
width: 203px;
height: 160px;
top: 700px;
left: 9px;
gap: 0px;
opacity: 0px;
} */
