/* CONFIGURAÇÕES GERAIS */
* {
    font-family: "Open Sans", "Roboto", "Montserrat", "Poppins", sans-serif;
    margin: 0;
}

body {
    background: #a3c8ff;
    background: linear-gradient(180deg, rgba(163, 200, 255, 1) 31%, rgba(0, 41, 143, 0.726) 100%);
    background-repeat: no-repeat;
}

h1 {
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
    color: #fff !important;
}

h2 {
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

.button {
    width: 90%;
    color: #fff;
    background-color: #00112b;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.button:hover {
    border: 1px solid #00112b;
    background-color: #00112b85;
}


/* HEADER */

#header01 {
    background-color: #355DC5;
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 90px;
}

#logo img {
    width: 100%;
    height: auto;
}

#searchBox {
    background-color: #fff;
    display: inline;
    border-radius: 30px;
}

#search {
    border: none;
    outline: none;
    width: 50%;
    margin: 10px 15px;
}

#searchBox i {
    color: #355DC5;
    margin-left: 15%;
}

#login {
    width: 90px;
    display: flex;
    justify-content: end;
}


/* SEÇÃO PRINCIPAL */

#mainIndex {
    background-color: #355DC5;
    position: relative;
    bottom: 25px;
}

#quemSomos {
    position: relative;
    margin: 20px;
    z-index: 1;
}

.quemSomosDiv {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
}

#quemSomosBanner {
    width: 90%;
    margin: 5% 5%;
    border-radius: 30px;
}

.quemSomosBtn {
    width: 50%;
    margin-left: 5%;
}


/* SEÇÃO DE ARTIGOS */

#bg01Div {
    margin-bottom: 50px;
}

#artigosSec {
    position: relative;
    bottom: 50px;
    margin-bottom: 20px;
}

.sliderConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 1200px;
    width: 95%;
    margin-top: 50px;

}

.sliderWrapper .sliderBtn {
    position: absolute;
    top: 85%;
    height: 25px;
    width: 25px;
    color: #fff;
    border: none;
    outline: none;
    background: #00112b;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-85%);
}

.sliderWrapper .sliderBtn:hover {
    background-color: #00112b86;
}

.sliderWrapper .sliderBtn#prevSlide {
    left: 20px;
    display: none;
}

.sliderWrapper .sliderBtn#nextSlide {
    right: 20px;
}

.sliderWrapper .sliderList {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(6, 1fr);
}

.sliderWrapper .sliderList::-webkit-scrollbar {
    display: none;
}

.sliderWrapper .sliderList .sliderItem {
    background: #fff;
    padding-bottom: 5px;
}

.sliderWrapper .sliderList .sliderItem .sliderTitle {
    margin: 30px;
    color: #00112b;
    font-weight: 100;
}

.destaque {
    color: #00288F;
    font-weight: 500;
}

.sliderWrapper .sliderList .sliderItem img {
    width: 200px;
    height: 175px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
}

.sliderScrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sliderScrollbar .scrollbarTrack {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.sliderScrollbar:hover .scrollbarTrack {
    height: 4px;
}

.sliderScrollbar .scrollbarThumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.sliderScrollbar .scrollbarThumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #00288F;
    border-radius: inherit;
    cursor: grab;
}

.sliderScrollbar .scrollbarThumb::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


/* SEÇÃO PERGUNTAS FREQUENTES */

#perguntasSec {
    margin-bottom: 70px;
}

.perguntasMainTitle h2 {
    color: #00288F;
    text-align: center;
}

.perguntasWrapper {
    margin: 50px 0;
}

.perguntasList {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.perguntasItem {
    width: 90%;
    text-align: center;
}

.perguntasImg img {
    width: 90%;
    height: 90%;
}

.perguntasText {
    color: #00288F;
}


/* PAGINA ARTIGOS */
/* MAIN ARTIGOS */
#mainArtigos {
    background: rgb(163, 200, 255);
    background: linear-gradient(0deg, rgba(163, 200, 255, 1) -50%, rgba(0, 41, 143, 0.445) 100%);
    background-repeat: no-repeat;
    padding-top: 30px;
}

.artTitle {
    margin: 10px 0 40px 0;
}

.artWrapper {
    margin: 10px;
}

.artConteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.artImg {
    height: 80%;
}

.artImg img {
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.artTxt {
    text-align: justify;
    padding-right: 15px;
}


/* SEÇÃO ARTIGOS01 */

#bg02Div {
    position: relative;
    bottom: -1px;
}

#bg03Div {
    position: relative;
    top: -15px;
}

#secArtigos01 {
    height: auto;
    margin: 0;
    background-color: #050a78;
    color: #fff;
    z-index: 1;
}

.artDiv {
    margin-bottom: 30px;
}

.topicoTitle {
    padding: 20px 10px 20px 10px;
    text-align: center;
}

.topicoDiv {
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
}

.topicoWrapper {
    margin: 20px 0;
}

.topicoList {
    margin-bottom: 20px;
}

.topicoItem {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    margin-bottom: 10px;
}

.topicoImg {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topicoImg img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}


/* SEÇÃO ARTIGOS02 */
#secArtigos02 {
    margin-bottom: 30px;
}

.dicasTitle {
    margin: 50px 0 40px 0;
    text-align: center;
    color: #050a78;
}

.dicasDiv {
    margin: 10px;
    border: solid #00112b 5px;
    background-color: #00112b;
    color: #fff;
}

.dicasDecoracao {
    display: grid;
    grid-template-columns: 10% 10% 10% 70%;
    align-items: center;
    padding: 5px;

}

.dicasCircle {
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background: #355DC5;
}

.dicasBar {
    width: 90%;
    height: 15px;
    border-radius: 30px;
    background: #355DC5;
}

.dicasWrapper {
    margin-top: 10px;
    padding: 10px;
    background-color: #355DC5;
}

.dicasItem {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    align-items: center;
}

.dicasItem:nth-child(1) {
    margin-bottom: 40px;
}

.dicasIframe iframe {
    width: 100%;
    height: auto;
}


/* FOOTER */

footer {
    margin: 30px 0;
}

.footerTxt {
    color: #fff;
}

.footerDiv,
.footerIcons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}

.footerIcons {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
}


.footerIcon a {
    color: #00288F;
    text-decoration: none;
}