/* Estilos principais */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Certifique-se de que o body ocupe 100% da altura */
}

body {
    background: linear-gradient(180deg, #b3cdf3 24.32%, #2d5a9e 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Certifique-se de que o body ocupe 100% da altura */
    margin: 0;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adicione esta linha */
    max-width: 560px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Adicione esta linha */
}

.titulo {
    color: #454545;
    margin: 20px 0; /* Ajuste as margens conforme necessário */
    font: 700 29px Open Sans, sans-serif;
}

.texto {
    color: #898989;
    text-align: center;
    margin: 10px 30px; /* Ajuste as margens conforme necessário */
    font: 700 18px Open Sans, sans-serif;
}

.quadrados {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* Ajuste as margens conforme necessário */
    gap: 16px;
}

.quadrado-individual {
    font-family: Open Sans, sans-serif;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #fff;
    display: flex;             
    align-items: center;       
    justify-content: center;   
    width: 65px;               
    height: 65px;              
    font-size: 29px; /* Ajuste a fonte para coincidir com o h1 */
    font-weight: 700;
    color: #000; /* Alterado para preto */
    text-align: center;
}

.texto-inferior {
    color: #e8e8e8;
    text-align: center;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
    font: 700 20px Open Sans, sans-serif;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
}

.botao-verificar {
    border-radius: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #223d83;
    max-width: 175px;
    align-items: center;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding: 21px 60px;
    font: 700 20px Open Sans, sans-serif;
}

.botao-reenviar {
    border-radius: 38px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #fff;
    max-width: 175px;
    color: #233156;
    text-align: center;
    justify-content: center;
    padding: 21px 60px;
    font: 700 20px Open Sans, sans-serif;
}

@media (min-width: 600px) {
    .principal {
        max-width: 800px;
    }

    .titulo {
        font-size: 32px;
    }

    .texto {
        font-size: 20px;
    }

    .quadrados {
        gap: 20px;
    }

    .quadrado-individual {
        width: 75px;
        height: 75px;
        font-size: 32px; /* Ajuste a fonte para dispositivos maiores */
    }

    .texto-inferior {
        font-size: 22px;
    }

    .botao-verificar, .botao-reenviar {
        font-size: 22px;
        max-width: 200px;
    }
}

@media (min-width: 900px) {
    .principal {
        max-width: 1200px;
    }

    .titulo {
        font-size: 36px;
    }

    .texto {
        font-size: 22px;
    }

    .quadrados {
        gap: 24px;
    }

    .quadrado-individual {
        width: 85px;
        height: 85px;
        font-size: 36px; /* Ajuste a fonte para dispositivos maiores */
    }

    .texto-inferior {
        font-size: 24px;
    }

    .botao-verificar, .botao-reenviar {
        font-size: 24px;
        max-width: 225px;
    }
}

@media (min-width: 1200px) {
    .principal {
        max-width: 1400px;
    }

    .titulo {
        font-size: 40px;
    }

    .texto {
        font-size: 24px;
    }

    .quadrados {
        gap: 28px;
    }

    .quadrado-individual {
        width: 95px;
        height: 95px;
        font-size: 40px; /* Ajuste a fonte para dispositivos maiores */
    }

    .texto-inferior {
        font-size: 26px;
    }

    .botao-verificar, .botao-reenviar {
        font-size: 26px;
        max-width: 250px;
    }
}

@media (min-width: 1700px) {
    .principal {
        max-width: 1600px;
    }

    .titulo {
        font-size: 44px;
    }

    .texto {
        font-size: 26px;
    }

    .quadrados {
        gap: 32px;
    }

    .quadrado-individual {
        width: 105px;
        height: 105px;
        font-size: 44px; /* Ajuste a fonte para dispositivos maiores */
    }

    .texto-inferior {
        font-size: 28px;
    }

    .botao-verificar, .botao-reenviar {
        font-size: 28px;
        max-width: 275px;
    }
}
